{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
    li {
        list-style-type: none;
        opacity: 100%;
        font-size: smaller;
        color: #6e60f0;
    }
</style>
{% endblock meta %}

{% block content %}

<div class = "container login shadow-lg" style="margin-top:10%; width:fit-content; height: 70%;">

    <h1>Login</h1><br>

    <form class="col-md-12" method="POST" action="">
        {% csrf_token %}
        <input class="form-control" type="text" name="username" placeholder="Username" class="form-control">
        <input class="form-control" type="password" name="password" placeholder="Password" class="form-control">
        <input id="submit" class="btn login_btn btn-primary" type="submit" value="Login">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}