{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block meta %}
<title>Registrasi Akun</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
    .container {
        margin: auto;
        opacity: 90%;
        text-align: left;
        box-shadow: inset;
        height:80% ;
        width: fit-content;
    }

    h1 {
        color: #2e295c;
        text-align: center;
    }

    p.help-block {
        opacity: 80%;
        font-size: smaller;
    }

    span.help-block {
        opacity: 80%;
        font-size: smaller;
        color: red;
    }

    li {
        opacity: 80%;
        font-size: smaller;
    }

    .btn-primary {
        background-color: #494194;
        width: 100%;
        align-self: flex-end;
        text-align: center;
    }

    .control-label {
        text-shadow: #2e295c;
        font-weight: bold;
    }

    #submit {
        background-color: #494194;
        color: white;
        margin: 20px;
    }

    #submit:hover {
        background-color: #2e295c;
    }

    body {
        background-image: linear-gradient(#a19bd4, rgb(255, 245, 232));
        text-align: left;
        min-height: 100vh;
    }

    img {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100px;
    }

    .form-control {
        width: 100%;
    }

    .form {
        padding:10px;
        margin-top: 3%;
        text-align: center;
        align-content: center;
    }
</style>
{% endblock meta %}

{% block content %}  

<div class = "login container">
    <div>
        <div class="form m-auto justify-content-center">
            <h1 class="mt-5 mb-5">Register</h1>

            <form method="POST" style="text-align:left ;">  
                {% csrf_token %}
                {{ form.username | bootstrap}}
                {{ form.password1 | bootstrap}}
                {{ form.password2 | bootstrap}}
                <input class="m-0 mt-2 mb-3 btn btn-primary" id="submit" type="submit" name="submit" value="Register"/> 
            </form>
    
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        </div>
    </div>
</div>  

{% endblock content %}