{% extends 'base.html' %}
{% load static %}

 {% block meta %}
  <title>To-do List</title>
  <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
  <link href="http://fonts.cdnfonts.com/css/miracle" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/shiny-flakes" rel="stylesheet">
  <style>
    h1 {
      font-family: 'Miracle', sans-serif;
      font-size: 50px;
      color: rgb(107, 60, 60);
      text-shadow: 2px 2px #e0a458;
      text-align: center;
    }

    h4 {
      font-family: 'Shiny Flakes', sans-serif;
      font-size: 40px;
    }

    div.card:hover {
      transition: all 0.25s ease-out;
      transform:scale(1.1);
    }
    
    body {
      font-family: sans-serif;
      font-size: smaller;
      background-image: repeating-linear-gradient(#a9d1ff, #f0bfe8, #6d7df5);
      text-align: center;
      padding-bottom: 3%;
      min-height: 100vh;
      align-content: center;
    }

    button {
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 16px 16px;
        border-radius: 0.25rem;
        color: white;
        margin: 20px;
    }

    button:hover {
        transition: all 0.2s ease-out;
        transform:scale(1.1);
    }

    #submit {
        background-color: #6158b4;
    }

    #submit:hover {
        background-color: #2a245a;
    }

    a {
        font-size: 14px;
        line-height: 30px;
        text-decoration: none;
        font-weight: bold;
        color: #082cf7;
    }

    .link {
        text-align: center;
        color: #fff;
    }

    .link:hover {
      color: white;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    // define function for add todo card
    const addCard = todo => {
      if (todo.fields.is_finished) {
        todo.fields.is_finished = "Selesai";
      } else {
        todo.fields.is_finished = "Belum Selesai";
      }
        $(".row").append(`
        <div class="col" id="task-${todo.pk}">
        <div class="card m-auto mb-4 shadow bg-body rounded" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><b>${ todo.fields.title }</b></h5>
            <hr>
            <p class="card-subtitle mb-2" style="color: #2a6127;">${ todo.fields.is_finished }</p>
            <h6 class="card-text">${ todo.fields.description }</h6><br>
            <p class="card-subtitle mb-2 text-muted">Created at ${ todo.fields.date }</p>
            <a class="btn btn-success" href="update-task/${todo.pk}">UPDATE</a>
            <button class="btn btn-danger" onclick=deleteTask(${todo.pk})>DELETE</button>
          </div>
          </div>
        </div>`);
    }
    
    // get data json
    $.getJSON( 'json/', function( data ) {
          data.forEach(element => {
            addCard(element);
          });
      });

    // function handler for add task asynchronously
    var addTask = function() {
        var formData = $("#add-task").serialize();

        if ($("#title").val() && $("#description").val()) { // ensure the form is filled
          $.ajax({
            type: "POST",
            url: "add/",
            data: formData,
            dataType: "json",
            encode: true,
          }).done(function (data) {
            addCard(data);
            $("#add-task").trigger("reset");
          })
        }
      }

    var deleteTask = function(pk) {
      $.ajax({
            type: "DELETE",
            headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
            url: "{% url 'todolist:delete_task_ajax' 1 %}".replace(1, pk),
            encode: true,
          }).done(function (data) {
              $(`#task-${pk}`).remove();
          })
    }
  </script>
 {% endblock meta %}

 {% block content %}

<div class="center-page container">
  <h1 class="mt-5">TO-DO LIST</h1>

  <h4 class="username">Username: {{ username }}</h4>
  <br>

  {% if messages %}  
      {% for message in messages %}  
        <p class="notify">{{ message }}</p>  
      {% endfor %}  
    {% endif %}

  <div class="container-xl">
    <div class="row rows-cols-1 row-cols-md-3 g-4 justify-content-center">
    </div>
  </div>
  
  <button id="submit" class="btn btn-primary mt-5 mb-0 shadow-sm rounded" style="color: white; text-decoration: none;"
  data-bs-toggle="modal" data-bs-target="#addModal">
      CREATE NEW TASK
  </button>
  <!-- Vertically centered modal -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="add-task" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="title" name="title" placeholder="Title" class="form-control" maxlength="255" required="" id="id_title"><br>
            <textarea name="description" id="description" cols="40" rows="10" placeholder="Description" class="form-control" required="" id="id_description"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="add-btn" onclick="addTask()" class="link btn btn-primary" data-bs-dismiss="modal" name="submit">Create</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <button id="submit" class="btn btn-primary shadow-sm rounded"><a class="link" href="{% url 'todolist:logout' %}">LOGOUT</a></button>
</div>

 {% endblock content %}
