body {
    font-family: sans-serif;
    font-size: smaller;
    text-align: left;
}

.center-page {
    text-align: center;
}

.pretty-table {
    border: solid 1px #DDEEEE;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px sans-serif;
}
.pretty-table thead th {
    background-color: #393b3b;
    border: solid 1px #DDEEEE;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.pretty-table tbody th {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #6d7df5;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #b0b8f7; 
}

a {
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 400;
    color: #001eff;
}

.link {
    text-align: center;
    color: #fff;
}

/* CSS References
https://jsfiddle.net/zinoui/dB93J/
https://copy-paste-css.com/
*/